apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    server: https://paas-master-east-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-west-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-east.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east-tsl-telus-com:443
- cluster:
    server: https://paas-master-west.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west-tsl-telus-com:443
- cluster:
    server: https://paas-master-east2-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east2-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-west2-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west2-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-east2.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east2-tsl-telus-com:443
- cluster:
    server: https://paas-master-west2.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west2-tsl-telus-com:443
contexts:
- context:
    cluster: paas-master-east-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-east-np-tsl-telus-com:443
  name: openshift/paas-master-east-np-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-west-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-west-np-tsl-telus-com:443
  name: openshift/paas-master-west-np-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-east-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-east-tsl-telus-com:443
  name: openshift/paas-master-east-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-west-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-west-tsl-telus-com:443
  name: openshift/paas-master-west-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-east2-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-east2-np-tsl-telus-com:443
  name: openshift/paas-master-east2-np-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-west2-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-west2-np-tsl-telus-com:443
  name: openshift/paas-master-west2-np-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-east2-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-east2-tsl-telus-com:443
  name: openshift/paas-master-east2-tsl-telus-com:443/system:serviceaccount:openshift:project-view
- context:
    cluster: paas-master-west2-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-view/paas-master-west2-tsl-telus-com:443
  name: openshift/paas-master-west2-tsl-telus-com:443/system:serviceaccount:openshift:project-view
users:
- name: system:serviceaccount:openshift:project-view/paas-master-east-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXJ0cXRmIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImE3ZWEzOGIzLTFkNmUtMTFlYy04M2E2LWVhMTBkYWRkY2Q4OCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.R08LJ3l76TVjLzuDd139_Vfv-GxGP22DxWPkvfn8FoHXMtGrqOQ3FfMqY861vrX_Q--ftSENqJWB3wS87-T4wrUiVAX4Nac_gCVB3cclMQ2Yw2Ftv2rpP6GxXLsJp6CsBHZ82AeNSzy2QzODBEIbO2FbH5lBPQ3xAmULJSx0HCf1GFJPmqjit3eelrl4Q216BEDQ8WkwrxOpaFf-OQH0G28gkGQBitgSkx8GVrK7m_66F2wUFViZ2lNvPoGmVn_OFk9TnqM2lM2tkDaP1NIsdjMAuh5HrLjSfxrY5uGQqS6xALSQiw0dhX7vh4PDcjN5wVkw3sNa7Gt7eLP8MrnnnA
- name: system:serviceaccount:openshift:project-view/paas-master-west-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXd4ZzlqIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImNhMDMwMWE3LTFkNzEtMTFlYy04ZWU0LTAwNTA1Njg5NmQ1MSIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.Oo4DWpUHXnNDe-JCM5ZQF4eY9hf79TTScZm6EIA6lEJ81x7E47hu5Ny-ZrfrMCuTX2-BnVRj9w80tZ1TR1uWebkQOH24SJAuFXC9lzumaWrnFQ8W0WoaADekdyuRI01RohY_qi0UtpMsFuVw7n-KvDYflAjHV1Eo5CjHYMETKvlNRB2YRAD2piftZ8dRasM5YMckSL_mFgmKCsn2WOCplaIB8oVWMG5Xe8oPiv0G2RhAAHufLYC1C1wQT872caPm1UzXFGmiB7K6oL_Mybz_Znjc3p_pUicAvFbceuPsu5dOGbX6Fneut-JsIJMQNFVjQuOkHJ1s3nKZT1nXsGLg7g
- name: system:serviceaccount:openshift:project-view/paas-master-east-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLWxqczc1Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6IjgxMGY1Yjg2LTMyYTYtMTFlYy1iMDRkLTAwNTA1NjkxMTdkNiIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.hwnwzI9uqOYoDMOafnncZUJgjcRBb89M0t-RU0wT9-yuE5_tEi-wFNhJLbtvc8ooptojIbXlkd8mvNFj4azZN5rghYTr3vz48DTTsmOZkttbT5OW-6JI5UY_ys4BGd2GFBk4491QjMcbvd7fVqndDrXV5bE4QScqEJ6OEa5TUoAY1ImXW9okyEg5NBh5nfWRUHw8U6ceKIcY0MIP7oEDbtQeMeCs7v4NIW5Tok11aQ5qDVgeZ10EhGHdkxLzZ80i60TE1r0gsAsrtzVywQaJB5uVO6VGgY_Fx7lj0ehiUHBJl66rEu9qep8d6_SJYgNV9VxDLeKVemAO2vINchQ5bg
- name: system:serviceaccount:openshift:project-view/paas-master-west-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXdxY3A0Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImI1NDQyYTBlLTMyYTYtMTFlYy05YTg5LTAwNTA1NmEzMzdlZSIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.1W15Q9h-aZEAnTeH83dkR78UxAddpFzYcyf3qvhecUa50m2nfhFi0HU1Twu7R6GHNtBMavTFCII0BQ7nXynFP874e8cRzt8wtrFNVT48TU-f2aeQ2wDKByl3lgFVmA3fzOb34Oo8do3q6ulo-1DwlN6xLh2MMHe9xcJeXPWmRh467qITQhz5cC1Pef35T_zsVx9vwpNvLhvq1f8a7yf1fJVBDpu3uHvh1hGojsvsELC1zV90MK_PajPu8RKT4NBVni5mHBMn_HEnc9WWdXMI8W5mF7ETazGuM7O_oegwAcq6oNAYXA5Rrmof8Y6PCyCaFCNBOjyEu4w-6ttvofYp9g
- name: system:serviceaccount:openshift:project-view/paas-master-east2-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLWxxOHY2Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImY1OWQzMzMyLTFkNWUtMTFlYy1hYzg4LTAwNTA1NmJjZWQxMCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.aYUpHqCjNsfsIH2EHoHgYnByiKE2a9HZUIA10WvWmb3vXyHNVkYel3siUwLKh_d5Lb-zhIjYX7i6mg2woXUmf-pGc7lhXW8iQuTr3x6lCLF_me8L3wxb1GIPALN2exIBvtUTU01jyso-SxfjhsdrCuEG8At2yx-YX5ZrfJRavmWnoE92CFAZ8pjVSYR1Z53kPIGvNoT6sx-PVO3q-MDlR8iVjcX1VzpZlc_sjB46uEMcK2GmI1uOG6dp6jLw7sAgCwYYGa2ugdn7QGHWJYFnNJgtjWgFc1Gp5PMxhob_maeDr5PAYu8f_FGZQULvN2b1RnbjpT_ow1sF_SqjbNo2AQ
- name: system:serviceaccount:openshift:project-view/paas-master-west2-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXg5Zm5nIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6IjhkY2VkMTllLTFkNzEtMTFlYy1iMTU5LTAwNTA1Njg5NmVjMCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.fMv2Btk9DDiD7V3CafJZj3OJJvOzr7znQxFLz7w69P-dJYwGYpWTfEQX1DNxuUUaZM0CqdjOhUPtcLSfOWgA2OFlfbhhK8M8tx6lhmD_PyWyZPUaqnE0LCh_pquTgxA-uCEPuZTP6cczLeR2ZggL6rA2WIIENnZg2UpkT8STs-s78RMOUp202n_Mz-HWDIxuDKrFY7gxfZHZRNLGFBD_BhhTD07q2UUsEGihCL6wYHjPacIbCIQuGjbdV8KNiYq4R0d2oKoYFdt4HXW4yrUkz0uh26eTRTCQvvoPqJWvJOKux7yB0vrEasyu0IW243imb53sYQ-MxTyky0vyXOgnLw
- name: system:serviceaccount:openshift:project-view/paas-master-east2-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLTlka2RuIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImI0YmM4ZDhkLTMyYTUtMTFlYy05ZDVmLTAwNTA1NjkwNzE4YyIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.aoJyF6YNchOsiRS41TFOV5nLb1jw6JNbJHWP73NV9Fgy781AOCSWuT47FTIrJIcosQt48WM9TAOE5RURIpJO2mM9B-VdB3JWmsIjXX1T2Cahs9MldcjBe8xaA8fZm2wltBtr0rgctyLDcboDOrxH3OqZ2VT6QZ1L4M6BJZ959pQ8g9JPGAsYxFEcg4GQw71JdmKe-KivgnitHqXeGt1w0jZcRAKBwvddE61JF3SunVzZ9RlMbRSHCGVUn84BoxKZcH0uyzd_Kmdm7_WRvxcHYP_W_esppC9Vs2Ja6KHmGIT6KK-FeDGEwjYdm2NZ6I2N9VTe1m7IFI6e5Fv3QiO-WA
- name: system:serviceaccount:openshift:project-view/paas-master-west2-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLTlmczdyIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImYwMjBmMjdhLTMyYTUtMTFlYy1hNzVmLTAwNTA1NmEzMzIzYiIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.cCWCgkclbG-DMz2FDUV3-T39RXmxzoZ7JGP_Yk2uobHkMSoEcQ2v1hLFd0UelvEf5Un6hRX0siiSq5lleqwwurT4D5ERr_E8wsB2YNJWGck-hE9m2Jyc3B_NluqaaWeq4rnT2TTWWtI_TNKplna8syxIw6D_MRtD4Uzo-SLXhXr7_en3ROjWp_5ujc1sexgtlqDUhYEMRzHcDeVxoa-AR4OARXpkHgyL8ZkXDIt_iC6o86aeX3hYvcZLRV45FLReHexKP-fpk2oFonasmGEpZM00_uSArk064F2ySkjNHun6uYkoCFBKTXbOCLX9Qs9kcdRzie0AY88LVooqEUcFtg