apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    server: https://paas-master-east-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-west-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-east.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east-tsl-telus-com:443
- cluster:
    server: https://paas-master-west.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west-tsl-telus-com:443
- cluster:
    server: https://paas-master-east2-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east2-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-west2-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west2-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-east2.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east2-tsl-telus-com:443
- cluster:
    server: https://paas-master-west2.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west2-tsl-telus-com:443
contexts:
- context:
    cluster: paas-master-east-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east-np-tsl-telus-com:443
  name: openshift/paas-master-east-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west-np-tsl-telus-com:443
  name: openshift/paas-master-west-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-east-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east-tsl-telus-com:443
  name: openshift/paas-master-east-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west-tsl-telus-com:443
  name: openshift/paas-master-west-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-east2-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east2-np-tsl-telus-com:443
  name: openshift/paas-master-east2-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west2-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west2-np-tsl-telus-com:443
  name: openshift/paas-master-west2-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-east2-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east2-tsl-telus-com:443
  name: openshift/paas-master-east2-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west2-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west2-tsl-telus-com:443
  name: openshift/paas-master-west2-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
users:
- name: system:serviceaccount:openshift:project-admin/paas-master-east-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi1kNG5uZyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiYzExYWQxMjUtMjNmZi0xMWU5LWJkZjYtMDA1MDU2YWQyYzk5Iiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.ia_tSWJe2QgWnoKDt0Matyyg_nf97pIbEHRAW4YXBVbw4R2hJfTvBS6pyR50p9lQC_NiRm_dLUQnAd8R9gYxr7pLXisQTDLklWJZNz3k38hHiusmQOtAzxDPhaZuaDjDK4OCvf_sbRsDdYg-x3vo5R-91c35ZJywidACLuFTXMUSlsv7MSlqqWeI0W2eMu_AVu1L-j53xBXT_dqNef9oAc2wUNunZ5Fe13nmDV3lJTeLn1M4ak5PaCkFZTb_WHRlayEyA08xbUD4YPmpphNu93rK7dohFl_AReCEf-LLOpJt5SW3rd5U_5f8Qi4IFdPSNdyfckonFiGUk3p9K2Suvw
- name: system:serviceaccount:openshift:project-admin/paas-master-west-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi03a3o0ZCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiYTU3NDdmMmEtM2I4MS0xMWU5LWFlM2QtMDA1MDU2ODk2ZDUxIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.xU17ClQkltRQ2RA_jy-iesbTjUXYHj0utBVN3_ayxxZdbYmJ321WatvuumTv7b1GXFW9HRpkTHhg9CpgvowCvpFIh023Ln3fSqk9GU17YFohekrQyvnEtYeSJye4FC-7_bQpGdJijft7DIY4vxYmEKybTHOhMIeIZE9Bpd_joQSlAkdjDKnzp9sH3hZ1XpTxqWJbYdlJmZqU8ilrDYsVxcQ_LjVP0b0eLjrPAh78eqMsAJcNAGhsMAMLZqdF5wEY8lKjQJUj4_EI4Vzr62JIK370ka_GyT7kR0_KYCxhTk02OmRRzLIUXDTckm-TBVXfIYGydrXWlKnFqG1bbmLRMQ
- name: system:serviceaccount:openshift:project-admin/paas-master-east-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi03bXdudCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiODFjZWViZjUtMjk1OC0xMWU5LTk4ZWEtMDA1MDU2OTEzMTU2Iiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.aDYZw--K4wYNvVdV4hj7Yx8rlTdVn9zostBC55haVMIRh49mIL4WSi8QtSLxdmumADUlZLnuVZRDGNPk3xiTDb1q7OrTdOA98Ia0k8ZkqCC_7wFN9Q-EP8Z8gVA_XepXyZIKfgmvDW2CD3GIdP-IJOS3q_Sml-JoM0kGB3q6BqKduEFx9O55lo3bSryPPD84Z3RTqZoS95aQoaVKxtLU5jTNyAO4AN2osJNRXQCGoU_hbU2kBGFMECSCq_Q3qCIJoydWypAZ3HteEhSlYLjvTjrXd5Db8GSKibnWq2-Mpkp38osRMVO8G2tHVuHP3xx9F9Emgr_dw4yhgShyxEJxpQ
- name: system:serviceaccount:openshift:project-admin/paas-master-west-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi12YmNxaCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiN2MzYWEyMDItMjk1OC0xMWU5LWJmMWYtMDA1MDU2YTMwNmJhIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.qg_74_eFQwlA8M6JJdpk8RjMxVlVa2UQJnUNIc0A6_tnFDsPHJLfYc4McoPFzJkSJ5wQwebiWsnGGWorYfl0H7Y_5btUzHFmz8tEmqV5XBa72ARRR3aWeB-d3tCFBSaLSlcQ-NEmiV-dfU5WqiyEGKNIQoRzhqVQ_jvN9XB4KhzdCocFCOMm-yAODyXOdVEDzlmUl1p4fi3jLjEtjswRABbErUH-NSU0_ctKmRKuKC_VTDRi0Ht9YOJrQSaiLt6uqeqWQD--mbHBRtN33kNLhtbnRlATxxtYOI5kCfeZzUip8y7rtLhyYI2PbFKUyKjQ_MEtN5TzoPTHOWa8NUdPJw
- name: system:serviceaccount:openshift:project-admin/paas-master-east2-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi02OWhzdiIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiY2RmMmZjODktMjA0NS0xMWViLTg2OTctMDA1MDU2YmNlZDEwIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.I_T0ALNeJWMoDNOLKRKAYDhqnU_9wtVMRQ_3XMMg0dLlLWaXdEw7a-hJPfGreGHtPuwD1D91IWUf9bhoGSrQwR6zt5pbu9K7vi0Oe3P8RN59reQG_lou0N0XAM6QzGmnnBmU5QkOVmP1ITLeMkUfgrI9a2ggZ7vrobVkwiP0txtD3fXYatEbItBqQ7OefN_bw5UkiqQSdibjCcKML7_QeNAWYoJHVkOhwmv-f9BKFNSubiOE7oLks39zWkA1bukCrF9_mcBWfhL1u7rZgtnDHeCYXK-Kam7ykpRGZR5jQ0Mm-pJXAv34DLst1Ipt4xxUjUlUe5oZ-uwl2Lq_15tgJQ
- name: system:serviceaccount:openshift:project-admin/paas-master-west2-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi0yZnFkdyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiYmU0ODVjMTItMWY3ZC0xMWViLWE2MjMtMDA1MDU2ODlmNjkyIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.IzOeqZCpDtwNQWu1DYbC-D7trG6ldEGXVFwn6OpP_P4CekkcPHVJovJPGvs5TMVmFAWoaEhZY1ynyhdvITmvzbdyHU9U-ohXTOCf_vMkyTBErgW4Km1GmPH_FqmMowIx1vZSVPr8PtZXDnah_OgzLYrQGK4-tfayPdluO1e86pA_pRSLexPW52DB5HJYg5FWPLa2pSz6gfYxO41-HYaUZ3PcxnMChF5YwmEMQf74DCLm2JIRlHO-CWTWQY8B0ujksqhAr98NMtA8x5DDEvBLuqGDm1559jGAMIFpraj8b_MhJdgiCcHiaDPgrtPZ09Ff8JzOhvlNzFSczFRbAfMBpg
- name: system:serviceaccount:openshift:project-admin/paas-master-east2-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi04NGN6OCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiYjQxMmM2MTYtMTIyNS0xMWViLTlkMTQtMDA1MDU2OTA4YWIyIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.GWVEHCt2UAXFCbomIyU6xSgQBDge_WyjThFQw-FNHuCAxRpurkp0K4jsBlILhKgi_1prig-nrx6-seSvWMmOVsivGil0mY1Pc4A1MirhD52TpEygKZFHiBQFIZ9zDUFPVe7d-TyYXv9mulw2VMULyTXgWARU_sbuZ1AVaWH1YcebnANcQBeazoV945wU8i9nZG52R2DzEzBEwSKaH4Kp9eVc4s3wargBjBuFLNQGN1faQ_SFyp1Y_BMM4-hk8qTigUUoEJHQDKWw2LZD-PFiN_RcpTrxL1kuEB6ukU811HQlqjWY9T12X7TDcZW2FXnkrq1Ns_Z8U92b1q3BJ_aWQA
- name: system:serviceaccount:openshift:project-admin/paas-master-west2-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi0yZzVkciIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiNTljOTE0NTItMjA0NC0xMWViLTk0ZjMtMDA1MDU2YTMzMjNiIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.QxpmDdBeqIFLu0pGPxkVtbikXv5OoV2jianz2fmKjjlOjr23zFm7cr_gN1_64XLKTO17nuBiCni4syYfThm4-BJIF3tvursZI3nvGqNJBlNGpuQGwczHZg-YmKVi1grxvIe5aP0D9gHfzd8lckA59tD9ACqT01W_KEjwqFcMka9Vv_6ykdIqKiJvL7iszoaC2x5fv-BzNW__rvBq9b5PglnWe4p2QB6rbCn2Y09Sq-hQt42ZVLS84xyJ-PqYbPcGxG6lyja0af_LgxLO7pDm3Rulcn-DJoDxGhhkjABlVMo6F0lUw_kOWEjlCKEc_ArKXJsogDOqzHApcBtLZcQOEg