apiVersion: v1
kind: Config
preferences: {}
clusters:
- cluster:
    server: https://paas-master-east-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-west-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-east.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east-tsl-telus-com:443
- cluster:
    server: https://paas-master-west.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west-tsl-telus-com:443
- cluster:
    server: https://paas-master-east2-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east2-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-west2-np.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west2-np-tsl-telus-com:443
- cluster:
    server: https://paas-master-east2.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-east2-tsl-telus-com:443
- cluster:
    server: https://paas-master-west2.tsl.telus.com:443
    insecure-skip-tls-verify: true
  name: paas-master-west2-tsl-telus-com:443
contexts:
- context:
    cluster: paas-master-east-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east-np-tsl-telus-com:443
  name: openshift/paas-master-east-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west-np-tsl-telus-com:443
  name: openshift/paas-master-west-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-east-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east-tsl-telus-com:443
  name: openshift/paas-master-east-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west-tsl-telus-com:443
  name: openshift/paas-master-west-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-east2-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east2-np-tsl-telus-com:443
  name: openshift/paas-master-east2-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west2-np-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west2-np-tsl-telus-com:443
  name: openshift/paas-master-west2-np-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-east2-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-east2-tsl-telus-com:443
  name: openshift/paas-master-east2-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
- context:
    cluster: paas-master-west2-tsl-telus-com:443
    namespace: openshift
    user: system:serviceaccount:openshift:project-admin/paas-master-west2-tsl-telus-com:443
  name: openshift/paas-master-west2-tsl-telus-com:443/system:serviceaccount:openshift:project-admin
users:
- name: system:serviceaccount:openshift:project-admin/paas-master-east-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXJ0cXRmIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImE3ZWEzOGIzLTFkNmUtMTFlYy04M2E2LWVhMTBkYWRkY2Q4OCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.R08LJ3l76TVjLzuDd139_Vfv-GxGP22DxWPkvfn8FoHXMtGrqOQ3FfMqY861vrX_Q--ftSENqJWB3wS87-T4wrUiVAX4Nac_gCVB3cclMQ2Yw2Ftv2rpP6GxXLsJp6CsBHZ82AeNSzy2QzODBEIbO2FbH5lBPQ3xAmULJSx0HCf1GFJPmqjit3eelrl4Q216BEDQ8WkwrxOpaFf-OQH0G28gkGQBitgSkx8GVrK7m_66F2wUFViZ2lNvPoGmVn_OFk9TnqM2lM2tkDaP1NIsdjMAuh5HrLjSfxrY5uGQqS6xALSQiw0dhX7vh4PDcjN5wVkw3sNa7Gt7eLP8MrnnnA
- name: system:serviceaccount:openshift:project-admin/paas-master-west-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXd4ZzlqIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImNhMDMwMWE3LTFkNzEtMTFlYy04ZWU0LTAwNTA1Njg5NmQ1MSIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.Oo4DWpUHXnNDe-JCM5ZQF4eY9hf79TTScZm6EIA6lEJ81x7E47hu5Ny-ZrfrMCuTX2-BnVRj9w80tZ1TR1uWebkQOH24SJAuFXC9lzumaWrnFQ8W0WoaADekdyuRI01RohY_qi0UtpMsFuVw7n-KvDYflAjHV1Eo5CjHYMETKvlNRB2YRAD2piftZ8dRasM5YMckSL_mFgmKCsn2WOCplaIB8oVWMG5Xe8oPiv0G2RhAAHufLYC1C1wQT872caPm1UzXFGmiB7K6oL_Mybz_Znjc3p_pUicAvFbceuPsu5dOGbX6Fneut-JsIJMQNFVjQuOkHJ1s3nKZT1nXsGLg7g
- name: system:serviceaccount:openshift:project-admin/paas-master-east-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi03bXdudCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiODFjZWViZjUtMjk1OC0xMWU5LTk4ZWEtMDA1MDU2OTEzMTU2Iiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.aDYZw--K4wYNvVdV4hj7Yx8rlTdVn9zostBC55haVMIRh49mIL4WSi8QtSLxdmumADUlZLnuVZRDGNPk3xiTDb1q7OrTdOA98Ia0k8ZkqCC_7wFN9Q-EP8Z8gVA_XepXyZIKfgmvDW2CD3GIdP-IJOS3q_Sml-JoM0kGB3q6BqKduEFx9O55lo3bSryPPD84Z3RTqZoS95aQoaVKxtLU5jTNyAO4AN2osJNRXQCGoU_hbU2kBGFMECSCq_Q3qCIJoydWypAZ3HteEhSlYLjvTjrXd5Db8GSKibnWq2-Mpkp38osRMVO8G2tHVuHP3xx9F9Emgr_dw4yhgShyxEJxpQ
- name: system:serviceaccount:openshift:project-admin/paas-master-west-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi12YmNxaCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiN2MzYWEyMDItMjk1OC0xMWU5LWJmMWYtMDA1MDU2YTMwNmJhIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.qg_74_eFQwlA8M6JJdpk8RjMxVlVa2UQJnUNIc0A6_tnFDsPHJLfYc4McoPFzJkSJ5wQwebiWsnGGWorYfl0H7Y_5btUzHFmz8tEmqV5XBa72ARRR3aWeB-d3tCFBSaLSlcQ-NEmiV-dfU5WqiyEGKNIQoRzhqVQ_jvN9XB4KhzdCocFCOMm-yAODyXOdVEDzlmUl1p4fi3jLjEtjswRABbErUH-NSU0_ctKmRKuKC_VTDRi0Ht9YOJrQSaiLt6uqeqWQD--mbHBRtN33kNLhtbnRlATxxtYOI5kCfeZzUip8y7rtLhyYI2PbFKUyKjQ_MEtN5TzoPTHOWa8NUdPJw
- name: system:serviceaccount:openshift:project-admin/paas-master-east2-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLWxxOHY2Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6ImY1OWQzMzMyLTFkNWUtMTFlYy1hYzg4LTAwNTA1NmJjZWQxMCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.aYUpHqCjNsfsIH2EHoHgYnByiKE2a9HZUIA10WvWmb3vXyHNVkYel3siUwLKh_d5Lb-zhIjYX7i6mg2woXUmf-pGc7lhXW8iQuTr3x6lCLF_me8L3wxb1GIPALN2exIBvtUTU01jyso-SxfjhsdrCuEG8At2yx-YX5ZrfJRavmWnoE92CFAZ8pjVSYR1Z53kPIGvNoT6sx-PVO3q-MDlR8iVjcX1VzpZlc_sjB46uEMcK2GmI1uOG6dp6jLw7sAgCwYYGa2ugdn7QGHWJYFnNJgtjWgFc1Gp5PMxhob_maeDr5PAYu8f_FGZQULvN2b1RnbjpT_ow1sF_SqjbNo2AQ
- name: system:serviceaccount:openshift:project-admin/paas-master-west2-np-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC12aWV3LXRva2VuLXg5Zm5nIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQubmFtZSI6InByb2plY3QtdmlldyIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50LnVpZCI6IjhkY2VkMTllLTFkNzEtMTFlYy1iMTU5LTAwNTA1Njg5NmVjMCIsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDpvcGVuc2hpZnQ6cHJvamVjdC12aWV3In0.fMv2Btk9DDiD7V3CafJZj3OJJvOzr7znQxFLz7w69P-dJYwGYpWTfEQX1DNxuUUaZM0CqdjOhUPtcLSfOWgA2OFlfbhhK8M8tx6lhmD_PyWyZPUaqnE0LCh_pquTgxA-uCEPuZTP6cczLeR2ZggL6rA2WIIENnZg2UpkT8STs-s78RMOUp202n_Mz-HWDIxuDKrFY7gxfZHZRNLGFBD_BhhTD07q2UUsEGihCL6wYHjPacIbCIQuGjbdV8KNiYq4R0d2oKoYFdt4HXW4yrUkz0uh26eTRTCQvvoPqJWvJOKux7yB0vrEasyu0IW243imb53sYQ-MxTyky0vyXOgnLw
- name: system:serviceaccount:openshift:project-admin/paas-master-east2-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi04NGN6OCIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiYjQxMmM2MTYtMTIyNS0xMWViLTlkMTQtMDA1MDU2OTA4YWIyIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.GWVEHCt2UAXFCbomIyU6xSgQBDge_WyjThFQw-FNHuCAxRpurkp0K4jsBlILhKgi_1prig-nrx6-seSvWMmOVsivGil0mY1Pc4A1MirhD52TpEygKZFHiBQFIZ9zDUFPVe7d-TyYXv9mulw2VMULyTXgWARU_sbuZ1AVaWH1YcebnANcQBeazoV945wU8i9nZG52R2DzEzBEwSKaH4Kp9eVc4s3wargBjBuFLNQGN1faQ_SFyp1Y_BMM4-hk8qTigUUoEJHQDKWw2LZD-PFiN_RcpTrxL1kuEB6ukU811HQlqjWY9T12X7TDcZW2FXnkrq1Ns_Z8U92b1q3BJ_aWQA
- name: system:serviceaccount:openshift:project-admin/paas-master-west2-tsl-telus-com:443
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IiJ9.eyJpc3MiOiJrdWJlcm5ldGVzL3NlcnZpY2VhY2NvdW50Iiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9uYW1lc3BhY2UiOiJvcGVuc2hpZnQiLCJrdWJlcm5ldGVzLmlvL3NlcnZpY2VhY2NvdW50L3NlY3JldC5uYW1lIjoicHJvamVjdC1hZG1pbi10b2tlbi0yZzVkciIsImt1YmVybmV0ZXMuaW8vc2VydmljZWFjY291bnQvc2VydmljZS1hY2NvdW50Lm5hbWUiOiJwcm9qZWN0LWFkbWluIiwia3ViZXJuZXRlcy5pby9zZXJ2aWNlYWNjb3VudC9zZXJ2aWNlLWFjY291bnQudWlkIjoiNTljOTE0NTItMjA0NC0xMWViLTk0ZjMtMDA1MDU2YTMzMjNiIiwic3ViIjoic3lzdGVtOnNlcnZpY2VhY2NvdW50Om9wZW5zaGlmdDpwcm9qZWN0LWFkbWluIn0.QxpmDdBeqIFLu0pGPxkVtbikXv5OoV2jianz2fmKjjlOjr23zFm7cr_gN1_64XLKTO17nuBiCni4syYfThm4-BJIF3tvursZI3nvGqNJBlNGpuQGwczHZg-YmKVi1grxvIe5aP0D9gHfzd8lckA59tD9ACqT01W_KEjwqFcMka9Vv_6ykdIqKiJvL7iszoaC2x5fv-BzNW__rvBq9b5PglnWe4p2QB6rbCn2Y09Sq-hQt42ZVLS84xyJ-PqYbPcGxG6lyja0af_LgxLO7pDm3Rulcn-DJoDxGhhkjABlVMo6F0lUw_kOWEjlCKEc_ArKXJsogDOqzHApcBtLZcQOEg